@import url(../common/common.css);

.bnf_h{
    
}

.bnf_h1{
}
.bnf_h1 > h2{
    font-size: 50px;
    font-family: Hakgyoansim_PosterB;
    color: #3A302E;
    background: url(../../img/common/main-line.png) 0 bottom no-repeat;
    padding-bottom: 30px;
}
.bnf_h1 > p{
    font-size: 23px;
    font-family: Hakgyoansim_PosterB;
    color: #3A302E;
}

.bnf_h2{}
.bnf_h2 > img{}

.bnf_h3{}
.bnf_h3 > div{}
.bnf_h3 > div > div{}
.bnf_h3 > div > div > div{}
.bnf_h3 > div > div > p{}

.bnf_h3 > p{}
.bnf_h3 > p >img{}