@import url(../common/common.css);

.intake_M{
    padding: 230px 0 150px;
    max-width: 1420px;
    margin: 0 auto;
    box-sizing: border-box;
}
.intake_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../img/common/main-line.png) 0 bottom no-repeat;
    padding-bottom: 70px;
    gap: 35px;
}
.intake_1 > div{
    font-size: 100px;
    font-family: 'MemomentKkukkukk';
    color: #3A302E;
    position: absolute;
}
.paw{
    position: relative;
    right: -270px; top: -40px;
}

.intake_2{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 100px 0;
}
.intake_2 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.intake_2 > div > div{
    width: 520px; height: 380px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
.intake_2 > div > div > img{
    width: 100%;
}
.intake_2 > div > h3{
    padding: 12px 23px;
    font-family: 'MemomentKkukkukk';
    font-weight: 500;
    font-size: 27px;
    color: white;
    background-color: #3A302E;
    border-radius: 15px;
}
.intake_2 > div > p{
    text-align: center;
    font-family: 'Paperlogy';
    font-weight: 200;
    font-size: 22px;
}

.intake_3{
    display: flex;
    justify-content: center
}
.intake_3 > button{
    width: 250px;
    max-width: 100%;
    height: 80px;
    padding: 0;
    font-family: "Paperlogy";
    font-size: 30px;
    font-weight: 600;
    background-color: #f8f8f8;
    color: #3A302E;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}
.intake_3 > button:hover{
    background-color : #FF9D00;
    color: white;
    transition: 0.3s;
}

.intake_popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    overflow-y: auto; 
    display: none;
}
.modal-content {
    background-color: #F3F3F3;
    margin: 0 auto;
    padding: 40px 5%; 
    width: 90%;
    max-width: 600px; 
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.close-btn {
    position: absolute;
    right: 20px; top: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #3A302E;
}
.modal-content > h2 {
    font-family: 'GmarketSans';
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: #3A302E;
}
.intakeForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.intake_input {
    display: flex;
    flex-direction: column; 
    gap: 8px;
}
.intake_input > label {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-size: 18px; 
}
.intake_input > input[type="text"],
.intake_input > input[type="tel"],
.intake_input > textarea {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #ddd; 
    border-radius: 8px;
    padding: 12px;
    width: 100%; 
    box-sizing: border-box; 
}
.intake_input input[type="checkbox"]:focus {
    accent-color: #FF9D00 ;
    outline: 2px solid #FF9D00;
}
.intake_input input:focus, 
.intake_input textarea:focus {
    border-color: rgba(255, 157, 0, 0.3);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 157, 0, 0.5);
    transition: all 0.3s ease;
}
.intake_input > textarea {
    min-height: 120px;
    max-height: 200px;
    max-width: 100%; 
    min-width: 100%; 
    resize: vertical; 
}
.intake_input:has(input[type="checkbox"]) {
    flex-direction: row; 
    align-items: center;
}

.submit-btn {
    margin: 10px auto 0;
    font-family: 'GmarketSans';
    font-weight: 500;
    font-size: 24px;
    width: 100%; 
    max-width: 250px;
    height: 60px;
    color: #3A302E;
    background-color: #F3F3F3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover {
    background-color: #FF9D00;
    color: white;
    border-color: #FF9D00;
}




@media (max-width: 1024px) {
    .intake_M { padding: 230px 50px 130px; }
    .rvs_S1 { margin-bottom: 80px; }
    .rvs_S1 > div{ position: absolute; bottom: 30px; left: 30px;}
    .rvs_S1 > div > div { font-size: 60px; -webkit-text-stroke: 2px black; }
    .rvs_S1 > div > p { font-size: 30px; -webkit-text-stroke: 1px black; }
    .intake_1 { padding-bottom: 30px;}
    .intake_1 > div { font-size: 50px; }
    .paw { right: -130px; top: -30px; }
    .paw > svg { width: 56px; height: 54px; }
    .intake_2 { gap: 100px; display: flex; flex-direction: column; }
    .intake_2 > div > div { width: 45vw; height: auto; }
}
 
@media (max-width: 768px) {
    .intake_M { padding: 230px 5% 100px; }
    .rvs_S1 { margin-bottom: 50px; }
    .rvs_S1 > div { bottom: 20px; left: 20px; }
    .rvs_S1 > div > div { font-size: 30px; -webkit-text-stroke: 2px black; }
    .rvs_S1 > div > p { font-size: 18px; -webkit-text-stroke: 1px black; }
    .intake_1 { padding-bottom: 20px;}
    .intake_1 > div { font-size: 30px; }
    .paw { right: -80px; top: -12px; }
    .paw > svg { width: 26px; height: 24px; }
    .intake_2 { padding: 80px 0; gap: 80px; }
    .intake_2 > div { width: 100%; }
    .intake_2 > div > div { width: 100%; }
    .intake_2 > div > h3 { font-size: 20px; }
    .intake_2 > div > p { font-size: 16px; word-break: keep-all; }
    .intake_3 { padding-bottom: 70px;}
    .intake_3 > button { padding: 20px 30px; font-size: 24px; }

    .floating-btn{ display: none;}
    :root { --swiper-navigation-size: 20px;}
}
