@import url(../common/common.css);
.rvs_main {
  padding: 230px 0 150px;
  max-width: 1420px;
  margin: 0 auto;
  box-sizing: border-box;
}

.rvs_M1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../img/common/main-line.svg) 0 bottom no-repeat;
  gap: 35px;
  padding-bottom: 20px;
}

.rvs_M1 > p {
  font-size: 36px;
  font-family: "MemomentKkukkukk";
  color: #3A302E;
}

.rvs_M1 > p > span {
  color: #FF9D00;
}

.rvs_M1 > div {
  font-size: 72px;
  font-family: "MemomentKkukkukk";
  color: #3A302E;
  position: absolute;
  margin: 50px 0;
}

.paw {
  position: relative;
  right: -390px;
  top: -70px;
}

.submit-B {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.submit-B > a > button {
  padding: 10px 20px;
  font-family: "Paperlogy";
  font-weight: 600;
  font-size: 24px;
  color: #3A302E;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.submit-B > a:hover > button {
  background-color: #FF9D00;
  color: white;
  transition: 0.3s;
}

.rvs_M2 {
  background: url(../../img/common/main-line.png) 0 bottom no-repeat;
  padding: 100px 0 170px;
}

.rvs_M2 > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 52px;
}

.rvs_M2 > ul > li {
  border-radius: 16px;
  width: 350px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.rvs_M2 > ul > li {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.rvs_M2 > ul > li.show {
  opacity: 1;
  transform: translateY(0);
}

.rvs_M2 > ul > li:hover {
  transform: scale(1.06);
  filter: brightness(0.5);
  border-color: #FF9D00;
  background-color: #fffaf0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.rvs_M2 > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

.rvs_M2 > ul > li > a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.rvs_M3 {
  padding: 120px 0 50px;
}

.rvs_M3 > ul {
  display: flex;
  justify-content: center;
  gap: 47px;
}

.rvs_M3 > ul > li > a {
  font-size: 32px;
  font-family: "MemomentKkukkukk";
  color: #ADADAD;
}

.rvs_M3 ul li a.active {
  color: #FF9D00;
  font-weight: bold;
}

.rvs_M3 > ul > li > a:hover {
  color: #FF9D00;
  transition: 0.3s;
}

@media (max-width: 1024px) {
  .rvs_main {
    padding: 230px 50px 130px;
  }
  .rvs_M1 {
    gap: 10px;
  }
  .rvs_M1 > p {
    font-size: 28px;
  }
  .rvs_M1 > div {
    font-size: 50px;
  }
  .paw {
    right: -270px;
    top: -25px;
  }
  .paw > svg {
    width: 56px;
    height: 54px;
  }
  .submit-B > a > button {
    width: 100%;
    font-size: 28px;
    font-weight: 400;
  }
  .rvs_M2 {
    padding: 80px 0 100px;
  }
  .rvs_M2 > ul {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .rvs_main {
    padding: 230px 5% 100px;
  }
  .rvs_M1 {
    padding-bottom: 20px;
    gap: 5px;
  }
  .rvs_M1 > p {
    font-size: 18px;
  }
  .rvs_M1 > div {
    font-size: 30px;
    margin: 30px 0;
  }
  .paw {
    right: -160px;
    top: -10px;
  }
  .paw > svg {
    width: 26px;
    height: 24px;
  }
  .submit-B {
    padding-top: 15px;
  }
  .submit-B > a > button {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
  }
  .rvs_M2 {
    padding: 60px 0 100px;
  }
  .rvs_M2 > ul {
    gap: 30px;
    width: 350px;
    margin: 0 auto;
  }
  .rvs_M2 > ul > li {
    width: 100%;
    height: 300px;
  }
  .rvs_M3 {
    padding: 50px 0;
  }
  .rvs_M3 > ul {
    gap: 20px;
  }
  .rvs_M3 > ul > li > a {
    font-size: 20px;
  }
  .floating-btn {
    display: none;
  }
  :root {
    --swiper-navigation-size: 20px;
  }
}/*# sourceMappingURL=reviews.css.map */