@import url('common/font.css');
@import url('common/common.css');

.about {
    padding: 230px 0;

    b {
        color: #FF9D00;
        font-weight: 500;
    }

    .about-banner {
        position: relative;
        width: 75%;
        aspect-ratio: 1420 / 660;
        margin: 0 auto;
        border-radius: 20px;
        overflow: hidden;
        background: url(../img/about/banner-about.png) center / cover no-repeat;
        margin-bottom: 110px;

        >div {

            color: #fff;
            -webkit-text-stroke: 2px #3A302E;
            display: flex;
            flex-direction: column;
            gap: clamp(3px, 2vw, 20px);
            position: absolute;
            top: 57%;
            left: 10%;

            h2 {
                font-family: 'Hakgyoansim_PosterB';
                font-size: clamp(30px, 6vw, 97px);

            }

            p {
                font-family: 'Paperlogy';
                font-size: clamp(16px, 2.8vw, 54px);
            }
        }
    }

    .about-center {
        text-align: center;
        height: 100vh;
        background: url(../img/about/about-center-backgound.png) 0 0 / cover no-repeat;


        >div:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            gap: 110px 0;
            padding: 6% 0;



            h2 {
                font-family: 'MemomentKkukkukk';
                font-size: clamp(40px, 6vw, 100px);
                font-weight: 500;
                color: #3A302E;
                position: relative;
            }

            h2::before {
                position: absolute;
                content: '';
                background: url(../img/about/icon-foot-01.png) no-repeat center / contain;
                left: 28%;
                top: -1em;
                width: 1.5em;
                height: 1.6em;

            }
            h2::after {
                position: absolute;
                content: '';
                background: url(../img/about/icon-foot-02.png) no-repeat center / contain;
                right: 30%;
                top: 0.8em;
                width: 0.7em;
                height: 0.7em;

            }

            p {
                font-family: 'Paperlogy';
                font-weight: 200;
                font-size: clamp(10px, 6vw, 28px);



            }


        }

        >div:nth-of-type(2) {
            display: flex;
            gap: 5%;
            margin: 0 auto;
            justify-content: center;

            img {
                width: clamp(90px, 18vw, 370px);
                max-width: 100%;
                height: auto;
                flex: 0 1 auto;
            }
        }
    }

    .center-info {

        padding: 150px 0;

        >div:nth-of-type(1) {
            width: 75%;
            margin: 0 auto;
            overflow: hidden;

            h2 {
                font-size: clamp(30px, 3vw, 50px);
                font-family: 'Hakgyoansim_PosterB';
                color: #3A302E;
                position: relative;
                padding-top: 50px;

                b {
                    color: #FF9D00;
                }
            }

            h2::before{
                position: absolute;
                content: '';
                background: url(../img/about/icon-foot-03.png) no-repeat center / contain;
                width: 1em;
                height: 1em;
                right: 26%;
                top: -0.1em;
            }

            .center-line {
                width: 100%;
                height: 12px; // 줄 이미지 높이
                margin: 0 auto;
                background: url(../img/common/main-line.png)  no-repeat center / contain;
                padding-top: 30px;

            }
        }

        >div:nth-of-type(2) {
            width: 75%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 120px;
            padding: 176px 0;

            article {
                display: flex;
                justify-content: center;
                gap: 0 60px;
                align-items: center;

                img {
                    width: 100%;
                }

                div {
                    background-color: #F3F3F3;
                    max-width: 476px;
                    padding: 6% 3%;
                    border-radius: 37.41px;
                    font-family: 'GmarketSans';
                    font-size: clamp(18px, 3vw, 30px);
                    font-weight: 500;
                    // line-height: 1.9;
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
                    line-height: clamp(1.6, 1.8, 1.9);
                }
            }
        }
    }


    .center-space {
        width: 75%;
        text-align: center;
        margin: 0 auto;

        .center-line {
            width: 100%;
            height: 12px; // 줄 이미지 높이
            margin: 0 auto;
            background: url(../img/common/main-line.png) no-repeat center  / contain;
            padding-top: 30px;

        }

        >div:nth-of-type(1) {

            h2 {
                font-family: 'MemomentKkukkukk';
                font-weight: 500;
                font-size: clamp(34px, 3vw, 52px);
                letter-spacing: 3%;
                position: relative;
            }
            h2::before{
                position: absolute;
                content: '';
                background: url(../img/about/icon-heart.png) no-repeat center / contain;
                width: 1em;
                height: 1em;
                right: 13%;
                top: -0.8em;
            }

        }

        >div:nth-of-type(2) {
            padding-top: 70px;
            display: flex;
            text-align: center;
            gap: 3%;

            figure {
                >p {
                    img {
                        width: 100%;
                    }
                }
            }


            figcaption {

                p {
                    padding: 20px 0;
                }

                span {
                    font-family: 'Paperlogy';
                    font-weight: 200;
                    font-size: 18px;
                    line-height: 1.6;
                }
            }
        }

    }
}