@import url('common/font.css');

main {
    position: relative;

    .main-spot {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/main/main-background.png) 0 0 / cover no-repeat;


        div {
            padding-top: 176px;
            // border-radius: 100px;
        }

    }
}




// ------------------------------------------------------
// -----------------------swiper---------------------------
// ------------------------------------------------------
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }