@import url('common/font.css');
@import url('common/common.css');

main {
    position: relative;


    .main-spot {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/main/main-background.png) 0 0 / cover no-repeat;


        >div {
            width: 100%;
            padding-top: 176px;
            flex-shrink: 0;
            // border-radius: 100px;
        }

    }
}



// ------------------------------------------------------
// 팝업
// ------------------------------------------------------
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    div:nth-of-type(2) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        padding: 10px 0;
    }

    div:nth-of-type(2) p {
        cursor: pointer;
        font-family: 'GmarketSans';
        font-weight: 500;
    }
}



// ------------------------------------------------------
// swiper
// ------------------------------------------------------

//---------메인
.mySwiper {
    width: 75%;
    height: 70vh;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.mySwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    picture {
        width: 100%;
        height: 100%;

    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



//---------카드
.mySwiperNews {
    width: 75%;
    position: relative;
    overflow: visible;
    padding: 0 300px;
}

.mySwiperNews .swiper-wrapper {
    align-items: center;
}

/* 기본: 다 작게 */
.mySwiperNews .swiper-slide {
    width: 80%;
    border-radius: 20px;
    overflow: hidden;

    /* 카드 크기/비율 */
    aspect-ratio: 3 / 4;

    /* 강조 효과 */
    transform: scale(0.85);
    opacity: 0.90;
    transform-origin: left center;
    transition: transform 0.25s ease, opacity 0.25s ease;
    position: relative;
}

.mySwiperNews .swiper-slide::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    pointer-events: none;
}

.mySwiperNews .swiper-slide.swiper-slide-active::after,
.mySwiperNews .swiper-slide.swiper-slide-duplicate-active::after {
    opacity: 0;
}

/* 활성(왼쪽)만 크게 */
.mySwiperNews .swiper-slide.swiper-slide-active {
    width: 100%;
    opacity: 1;
}

/* 활성 아닌 건 전부 작게*/
.mySwiperNews .swiper-slide:not(.swiper-slide-active) {
    aspect-ratio: 1 / 1;
    height: 60%;
}

/* 이미지 꽉 차게 */
.mySwiperNews .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}

.mySwiperNews .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-button-prev>svg,
.swiper-button-next>svg {
    display: none;
}


.swiper-button-prev::after {
    content: '';
    background: url('../img/main/prev-btn.png') no-repeat;
    width: 70px;
    height: 70px;
    display: block;
}

.swiper-button-next::after {
    content: '';
    background: url('../img/main/next-btn.png') no-repeat;
    width: 70px;
    height: 70px;
    display: block;
}

.news-spot .swiper-button-next,
.news-spot .swiper-button-prev {
    position: absolute;
    width: auto;
    /* 또는 40px, 50px 등 원하는 값 */
    height: auto;
}

.news-spot .swiper-button-prev {
    left: 7% !important;
    right: auto !important;

}

.news-spot .swiper-button-next {
    right: 7% !important;
    left: auto !important;

}

.news-spot .slides {
    position: relative;
}

// ------------------------------------------------------
// chart
// ------------------------------------------------------
.chart-spot {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        width: clamp(360px, 60vw, 600px);
    }

}

.myChart {
    width: 100%;
}

.chart-text {
    text-align: right;
    opacity: 0;
    transition: 0.5s;

    >div {
        padding-top: 5px;
        opacity: 0;
        transition: 0.5s;
        transform: translateY(100%);
    }

    span {
        font-family: 'Hakgyoansim_PosterB';
        font-size: clamp(28px, 5vw, 70px);
    }

    span:nth-of-type(1) {

        color: #3A302E;
    }

    span:nth-of-type(2) {
        color: #FF9D00;
    }
}

.chart-text div.active {
    opacity: 1;
    transform: translateY(0);
}

.chart-text.active {
    opacity: 1;
}





// ------------------------------------------------------
// 온집 소식 
// ------------------------------------------------------

.news-spot {



    >div {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 46px;
        background: url(../img/main/news-background.png) 0 0 / cover no-repeat;


        >div:nth-of-type(1) {
            width: 75%;

            h2 {
                font-family: 'Hakgyoansim_PosterB';
                font-size: clamp(46px, 6vw, 56px);
                color: white;
            }

            p {
                font-family: 'GmarketSans';
                font-size: 22px;
                font-weight: 500;
                color: white;

                &:nth-of-type(1) {
                    padding: 16px 0 14px;
                }
            }

        }

        >div:nth-of-type(2) {
            width: 100%;
        }
    }
}



// ------------------------------------------------------
// 입양 리스트
// ------------------------------------------------------

.adoption-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 160px 0 200px;

    .main-line img {
        display: block;
    }

    >p:nth-of-type(1) {
        padding-bottom: 78px;
    }

    >p:nth-of-type(2) {
        padding-top: 78px;
    }

    >a {
        margin-top: 64px;
        display: block;
    }

    >div:nth-of-type(1) {
        color: #3A302E;

        h2 {
            font-family: 'Hakgyoansim_PosterB';
            font-size: clamp(30px, 7vw, 90px);
            letter-spacing: 6px;

            img:nth-of-type(1) {
                margin-right: 20px;
            }

            img:nth-of-type(2) {
                margin-left: 20px;
            }

            >b {
                color: #FFAE00;
            }
        }

        >p {
            font-family: 'Paperlogy';
            font-size: 28px;
            font-weight: 300;
            padding: 50px 0 105px;
        }
    }

    >div:nth-of-type(2) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 75%;
        gap: 40px;
    }

    figure {
        position: relative;

        width: 330px;

        >p {
            position: relative;
            width: 330px;
            height: 342px;
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        >p::after {
            content: '';
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.6);
            pointer-events: none;
            opacity: 0;
            transition: 0.5s;
        }

        >p:hover::after {
            opacity: 1;
        }

        >b {
            position: absolute;
            background-color: #3A302E;
            color: white;
            left: 50%;
            bottom: 18%;
            padding: 12px 16px;
            transform: translateX(-50%);
            font-family: 'MemomentKkukkukk';
            font-size: 24px;
            width: 60%;
            border-radius: 16px;
            font-weight: 200;
            box-shadow: 4px 3px 7px rgba(0, 0, 0, 0.1);
        }

        figcaption {
            width: 100%;
            padding-top: 50px;
            font-family: 'MemomentKkukkukk';
            font-size: 20px;
            line-height: 1.5;

            >p {
                height: 60px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }
        }


    }

    .ani {
        opacity: 0;
        transform: translateY(40px);
        transition: 0.8s ease;
    }

    .ani.active {
        transform: translateY(0%);
        opacity: 1;
    }

}

@media screen and (max-width: 1441px) {


    .adoption-list {
        >div:nth-of-type(2) {
            width: 700px;
            justify-content: flex-start;

        }
    }
}

@media screen and (min-width:768px) and (max-width:960px) {

    // ------------------------------------------------------
    // 온집 소식  테블릿
    // ------------------------------------------------------

    .news-spot .swiper-button-prev {
        left: 3% !important;
        right: auto !important;

    }

    .news-spot .swiper-button-next {
        right: 3% !important;
        left: auto !important;

    }

    // ------------------------------------------------------
    // chart 테블릿
    // ------------------------------------------------------

    .chart-text {
        >p img {
            width: 60%;
        }
    }

    // ------------------------------------------------------
    // 입양 리스트 테블릿
    // ------------------------------------------------------
    .adoption-list {
        height: 110vh;
        padding: 0;

        .main-line img {
            display: none;
        }

        >a {
            margin-top: 0;
        }

        >div:nth-of-type(1) {
            h2 {
                letter-spacing: 2px;

                img {
                    width: 12%;
                }

            }

            >p {
                font-size: 22px;
                padding: 0;
            }

        }

        >div:nth-of-type(2) {
            height: 52%;
        }

        .more-btn {
            width: 80%;
        }

        figure {

            width: 100%;

            >p {
                width: 100%;

            }
        }

    }

    .mySwiper {
        width: 90%;
    }

    .mySwiperAdoption {
        padding: 0 40px;
        overflow: hidden;
    }

    .mySwiperAdoption .swiper-slide {
        width: 340px;
    }

    .mySwiperAdoption .swiper-pagination-bullet-active {
        --swiper-theme-color: #FF9D00;
    }
}



@media screen and (max-width: 480px) {

    // ------------------------------------------------------
    // 팝업
    // ------------------------------------------------------
    .popup {
        width: 100%;

        div:nth-of-type(1) {
            img {
                width: 100%;
            }
        }
    }



    .mySwiper {
        width: 90%;
    }

    .mySwiperAdoption {
        width: 90% !important;
    }

    // ------------------------------------------------------
    // 온집 소식 모바일
    // ------------------------------------------------------

    .news-spot .swiper-button-prev {
        left: 3% !important;
        right: auto !important;

    }

    .news-spot .swiper-button-next {
        right: 3% !important;
        left: auto !important;

    }

    .news-spot {
        >div {
            >div:nth-of-type(1) {
                width: 90%;
            }
        }
    }

    // ------------------------------------------------------
    // chart 모바일
    // ------------------------------------------------------
    .chart-spot {
        flex-direction: column;
        gap: 100px 0;
    }

    .chart-text {
        text-align: center;

        >p img {
            width: 60%;
        }

        span {
            font-size: 46px;
        }

    }


    // ------------------------------------------------------
    // 입양 리스트 모바일
    // ------------------------------------------------------
    .adoption-list {
        height: 110vh;
        padding: 0;

        >a {
            margin-top: 0;
        }

        .main-line img {
            display: none !important;
        }

        >div:nth-of-type(1) {
            width: 90%;

            h2 {
                letter-spacing: 0px;
                padding-bottom: 15px;

                img {
                    width: 12%;
                }

                img:nth-of-type(1) {
                    margin-right: 0;
                }

                img:nth-of-type(2) {
                    margin-left: 0;
                }

            }

            >p {
                font-size: 18px;
                padding: 0;
            }

        }

        >div:nth-of-type(2) {
            height: 52%;


        }

        .more-btn {
            width: 70% !important;
        }

        figure {

            width: 100%;

            >p {
                width: 100%;

            }

            b {
                font-size: 20px;
            }

            figcaption {
                p {
                    font-size: 20px;
                }
            }
        }
    }

    .mySwiperAdoption .swiper-slide {}

    .mySwiperAdoption .swiper-pagination-bullet-active {
        --swiper-theme-color: #FF9D00;
    }
}