@import url('./common/common.css');
@import url('./common/font.css');


.location-under {
    width: 1420px;
    height: 620px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 282px;
    gap: 60px;
    align-items: center;
}

.contents {
    img {
        max-width: 750px;
        height: 614px;
    }
}

.adress {
    width: 50%;
    max-width: 610px;
    max-height: 494px;


    .brand-logo {
        width: 168px;
        height: 60px;
        margin-bottom: 62px;
    }

    .adress-text {
        font-family: Paperlogy;
        font-weight: 400;
        font-style: normal;
        line-height: 100px;
        font-size: 24px;
    }

    p {

        display: flex;
        align-items: center;
        gap: 38px;
        border-bottom: 1px solid rgb(65, 56, 55);
    }
}