.main {
    max-width: 1420px;
    max-height: 660px;
    margin: 0 auto;
    position : relative;
p{}
img{
    border-radius: 20px;
    width: 100%;
    height: 660px;
    display : block;
}
.main-text{
    position: absolute;
    left: 90px;
    bottom: 115px;
    color: #fff;
    font-size: 98px ;
}
}

.contents{
    width: 1420px;
    height: 620px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 282px;
    gap : 60px;

.map{
    width: 50%;  
    img{
        width: 100%;
        height: auto;
    }
}
.adress{
    max-width: 610px;
    max-height :494px;
.brand-name{
    width: 168px;
    height: 60px;
    margin-bottom: 62px;
}
.adress-text{
    line-height: 62px;
    font-size: 24px;
}
}
}