@import url(../common/common.css);
@import url(../common/font.css);

.sub{
    font-family: Paperlogy;
    font-weight: 500;
    font-size: 54px;
}

.section-header {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-header .section-title {
  font-family: MemomentKKukkukk;
  font-size: 68px;
  color: rgb(58, 48, 46);
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}

.section-header .section-title > img {
  position: absolute;
  top: -45px;
  right: -55px;
  width: 70px;
  height: 65px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  width: 1390px;
  margin-bottom: 60px;
}

.donation-text {
  font-family: Paperlogy;
  font-weight: 700;
  font-size: 30px;
  color: rgb(58, 48, 46);
  letter-spacing: 1.25px;
}

.form-box {
  border: 2px solid rgb(217, 217, 217);
  border-radius: 20px;
  padding: 0px 30px;
  height: 80px;
  width: 240px;
  display: flex;
  align-items: center;
}
.form-box .form-box-text {
  align-items: center;
  font-family: Paperlogy;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.form-box input {
  border: none;
  outline: none;
  width: 100%;
}