/* GmarketSans */

@font-face {
    font-family: 'GmarketSans';
  src:url('../../font/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src:url('../../font/GmarketSansTTFMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src:url('../../font/GmarketSansTTFBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


/* Hakgyoansim_PosterB */
@font-face {
    font-family: 'Hakgyoansim_PosterB';
    src:url('../../font/Hakgyoansim_PosterB.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


/* MemomentKkukkukk */
@font-face {
    font-family: 'MemomentKkukkukk';
    src:url('../../font/MemomentKkukkukk.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/* Paperlogy */
@font-face {
    font-family: 'Paperlogy';
    src:url('../../font/Paperlogy-3Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src:url('../../font/Paperlogy-5Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src:url('../../font/Paperlogy-4Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src:url('../../font/Paperlogy-7Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src:url('../../font/Paperlogy-8ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}